.cardStatusMainContainer {
    display: inline-block;
    border-radius: 30px;
    
}

.cardStatusMainContainer > p {
    padding: 3px 10px 3px 10px;
    color: white;
    font-weight: 700;
    font-size: 12px;
}